<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/address']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit(contactForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" formControlName="firstName"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!contactForm.get('firstName').valid && contactForm.get('firstName').touched">Please enter First Name</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!contactForm.get('lastName').valid && contactForm.get('lastName').touched">Please enter Last Name</span>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Address" formControlName="address"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!contactForm.get('address').valid && contactForm.get('address').touched">Please enter Address</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telephone Number" formControlName="telephoneNumber"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!contactForm.get('telephoneNumber').valid && contactForm.get('telephoneNumber').touched">Please enter Telephone Number in format +xxx xxxxxxxx</span>
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button type="submit" [disabled]="!contactForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
